body {
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
}

#barra {
    background-color: rgb(31, 99, 247);
    height: 100%;
    width: 15%;
    position: absolute;
}

#me {
    width: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 100%;
    border: solid white 3px;
    margin-top: 40px;
}

#barra h2 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}

#barra a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}