body {
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
}

#barra {
    background-color: rgb(31, 99, 247);
    height: 100%;
    width: 15%;
    position: absolute;
    border-radius: 0px 10px 10px 0px;
}

#me {
    width: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 100%;
    border: solid white 3px;
    margin-top: 40px;
}

#barra h2 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}

#barra a{
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    justify-content: center;
    transition: 150ms;
}

#barra a:hover{
    font-size: x-large;
    border: solid white 2px;
    border-radius: 10px;
    padding: 5px 15px;
    transition: 150ms;
}